<%- include('./partials/header.ejs') %>
<div class="text-white flex-center">
  <form method="post" action="/usuario/novousuario">
    <h1 class="text-center">Criar Conta</h1>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="email">Email:</label>
      <input
        name="email"
        type="email"
        id="email"
        class="form-control bg-dark text-white"
      />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="senha">Senha:</label>
      <input
        name="senha"
        type="password"
        id="senha"
        class="form-control bg-dark text-white"
      />
    </div>
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      data-bs-theme="dark"
      class="btn btn-dark btn-block mb-4"
    >
      Criar Conta
    </button>
    <div class="text-center">
      <p>jรก possui conta? <a href="/usuario/login">Entrar</a></p>
    </div>
    
  </form>
</div>
<%
    if(msg != '') {
    %>
    <div class="alert alert-custom text-white mx-2" role="alert">
      <%= msg %>
    </div>
    <%
    }
    %>
<%- include('./partials/footer.ejs') %>
