<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="text-white">
    <h1>Bem vindo ao nexus</h1>
    <div>
        <p>Este é um sistema de gerenciamento de jogos, conquistas e DLCs.</p>
        <a href="">para continuar, faça login</a>
    </div>
</div>
<%- include('./partials/footer.ejs') %>