html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    315deg,
    #2c3e50 3%,
    #000000 38%,
    #000000 68%,
    #2c3e50 98%
  );
  background-size: 400% 400%;
  background-attachment: fixed;

  animation: gradient 15s ease infinite;

  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: #2c3e5080;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.5;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
nav {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

.alert-custom {
  background-color: #502c32;
  margin-top: 24px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.btn-primary {
  background: #2c3e50;
  border-color: #253444;
}
.btn-primary:hover {
  background: #1e293b;
  border-color: #0c121b;
}

.modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  /* Bordas */
  border-bottom: 1px solid gray;
}

.modal-content {
  border-color: gray;
  border-radius: 8px;
}

@scope (.modal-body) {
  :scope {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  @scope (.form-control) {
    :scope {
      border: 1px solid gray;
    }
    input,
    input:focus,
    input:focus-visible {
      outline: none;
      border: none;
      color: white;
    }
  }
  small {
    position: relative;
    top: -8px;

    color: gray;
  }
}

.modal-footer {
  border-top: 1px solid gray;
}

@scope (.icon.add-perfil) {
  :scope {
    position: sticky;
    display: block;
    height: 28px;
    width: 28px;
    bottom: 16px;
    float: right;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 10;
  }

  :scope:hover {
    transform: scale(1.2);
  }

  svg {
    height: 28px;
  }
}

@scope (.dialog) {
  :scope {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .alert-custom {
    position: relative;
    top: calc(50% - 50px);

    width: 300px;

    margin: auto;

    z-index: -10;
  }
}

.teste {
  margin-top: 100px;
}

img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;

  border-radius: 4px;
  transition: all 0.6s ease-in-out;
}

#content-wrapper {
  position: absolute;
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-inline: 8px;
  width: calc(100% - 16px);
}

#games {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 16px;
  margin-block: 32px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 64px;
}
::-webkit-scrollbar {
  width: 5px;
}

.card-game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 150px;

  transition: all 0.3s ease-in-out;
}

.card-game:hover {
  transform: scale(1.1);
}

.card-game:hover img {
  filter: brightness(20%);
}

.game-info {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  font-weight: 600;
  text-align: center;
  color: #fff;

  text-decoration: none;

  visibility: hidden;
  opacity: 0;

  transition: all 0.6s ease-in-out;
}

.card-game:hover .game-info {
  visibility: visible;
  opacity: 1;
}

.ui-autocomplete {
  z-index: 100000 !important;
}